@media (prefers-color-scheme: light) {
    :root {
        --text: #222;
        --text-shadow: #ddd;
        --sub-text: #444;
        --error: #f00000;
        --tooltip-bg: hsl(0deg 0% 0% / 0.075);
        --btn-1: #f7b267;
        --btn-2: #f79d65;
        --btn-3: #f4845f;
        --btn-4: #f27059;
    }
}
