@media (prefers-color-scheme: light) {
    :root {
        --text: #000;
        --text-shadow: #fff;
        --sub-text: #222;
        --error: #f00000;
        --tooltip-bg: hsl(0deg 0% 0% / 0.075);
        --btn-1: #f6ffde;
        --btn-2: #e3f2c1;
        --btn-3: #c9dbb2;
        --btn-4: #aac8a7;
        --up: green;
        --down: orangered;
    }
}
