@media (prefers-color-scheme: light) {
    :root {
        --text: #000;
        --text-shadow: #fff;
        --sub-text: #222;
        --error: #f00000;
        --btn-1: #ccff33;
        --btn-2: #9ef01a;
        --btn-3: #70e000;
        --btn-4: #38b000;
        --up: darkgreen;
        --down: orange;
    }
}
