:root {
    --text: #ddd;
    --text-shadow: #222;
    --sub-text: moccasin;
    --error: orangered;
    --tooltip-bg: hsl(0deg 100% 100% / 0.075);
    --btn-1: #635985;
    --btn-2: #443c68;
    --btn-3: #393053;
    --btn-4: #18122b;
}

@font-face {
    /* https://github.com/githubnext/monaspace/blob/v1.000/fonts/webfonts/MonaspaceArgonVarVF%5Bwght%2Cwdth%2Cslnt%5D.woff2 */
    font-family: "Monaspace Argon";
    src:
        local("Monaspace Argon Regular"),
        url("/static/monaspace-argon.woff2") format("woff2");
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    cursor: pointer;
    font-family: "Monaspace Argon";
    text-align: center;
    color: var(--text);
    text-shadow: 0 .2px .5px var(--text-shadow);
}

[tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    display: block;
    padding: 8px 16px;
    width: calc(50% - 16px - 16px);
    margin-top: -.5em;
    font-size: .25em;
    background-color: var(--tooltip-bg);
    color: var(--sub-text);
    opacity: 0;
    transition: all .2s ease-in-out .5s;
    text-shadow: 0 .2px .5px var(--text-shadow);
}
[tooltip]:hover::after {
    opacity: 1;
    transform: translate(0, 50%);
}

div {
    flex: 1;
    align-content: center;
    font-size: 3em;
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}
div span {
    display: block;
    font-size: .4em;
    color: var(--sub-text);
}
div.error,
div.error::after { color: var(--error) }

@media (min-width: 500px) {
    div {
        font-size: 4.5em;
        width: 50%;
    }
    #rewards { flex: 1 100% }
}
@media (max-width: 499px) {
    body {
        flex-direction: column-reverse;
    }
    [tooltip]::after {
        margin-top: -.9em;
        width: calc(100% - 16px - 16px);
    }
}

#block-height { background-color: var(--btn-1) }
#slashes { background-color: var(--btn-2) }
#blocks-generated { background-color: var(--btn-3) }
#rewards { background-color: var(--btn-4) }
