:root {
    --text: #ddd;
    --text-shadow: #222;
    --sub-text: moccasin;
    --error: orangered;
    --btn-1: #635985;
    --btn-2: #443c68;
    --btn-3: #393053;
    --btn-4: #18122b;
}
@media (prefers-color-scheme: light) {
    :root {
        --text: #222;
        --text-shadow: #ddd;
        --sub-text: darkslategray;
        --error: #f00000;
        --btn-1: #f6ffde;
        --btn-2: #e3f2c1;
        --btn-3: #c9dbb2;
        --btn-4: #aac8a7;
    }
}

@font-face {
    /* https://github.com/githubnext/monaspace/blob/v1.000/fonts/webfonts/MonaspaceArgonVarVF%5Bwght%2Cwdth%2Cslnt%5D.woff2 */
    font-family: "Monaspace Argon";
    src:
        local("Monaspace Argon Regular"),
        url("/static/monaspace-argon.woff2") format("woff2");
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
}

button {
    flex: 1;
    border: none;
    font-size: 2.75em;
    font-family: "Monaspace Argon";
    color: var(--text);
    text-shadow: 0 .2px .5px var(--text-shadow);
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}
button.error { color: var(--error) }
button::after {
    display: block;
    font-size: .3em;
    color: var(--sub-text);
}

@media (min-width: 500px) {
    button {
        font-size: 4.5em;
        width: 50%;
    }
    #rewards { flex: 1 100% }
}
@media (max-width: 499px) {
    body {
        flex-direction: column-reverse;
    }
}

#block-height { background: var(--btn-1) }
#block-height::after { content: "｢current block｣" }
#block-height.error:after { content: "｢⚠️ current block｣" }

#slashes { background: var(--btn-2) }
#slashes::after { content: "｢slashes｣" }
#slashes.error:after { content: "｢⚠️ slashes｣" }

#blocks-generated { background: var(--btn-3) }
#blocks-generated::after { content: "｢blocks generated｣" }

#rewards { background: var(--btn-4) }
#rewards::after { content: "｢rewards｣" }
