@font-face {
    /* https://github.com/githubnext/monaspace/blob/v1.000/fonts/webfonts/MonaspaceArgonVarVF%5Bwght%2Cwdth%2Cslnt%5D.woff2 */
    font-family: "Monaspace Argon";
    src:
        local("Monaspace Argon Regular"),
        url("/static/monaspace-argon.woff2") format("woff2");
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #000;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

button {
    flex: 1 auto;
    border: none;
    text-align: center;
    font-size: 2.5em;
    font-family: "Monaspace Argon";
    color: #ddd;
    text-shadow: 1px 1px 0 #222;
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}
button::after {
    display: block;
    font-size: .3em;
    color: moccasin;
}
@media (min-width: 500px) {
    button {
        font-size: 4em;
    }
    #blocks-accepted {
        flex: 1 100%;
    }
}

#block-current { background: #635985 }
#block-current::after { content: "｢Current Block｣" }

#block-latest { background: #443c68 }
#block-latest::after { content: "｢Latest Block｣" }

#blocks-generated { background: #393053 }
#blocks-generated::after { content: "｢Generated Blocks｣" }

#blocks-accepted { background: #18122b }
#blocks-accepted::after { content: "｢Accepted Blocks｣" }
#blocks-accepted div { display: block; margin-bottom: -.4em }
#blocks-accepted span { font-size: .5em }
