:root {
    --text: #ddd;
    --text-shadow: #222;
    --sub-text: moccasin;
    --error: orangered;
    --btn-1: #635985;
    --btn-2: #443c68;
    --btn-3: #393053;
    --btn-4: #18122b;
    --up: lime;
    --down: fuchsia;
}

@media (prefers-color-scheme: light) {
    :root {
        --text: #000;
        --text-shadow: #fff;
        --sub-text: #222;
        --error: #f00000;
        --btn-1: #bee6ce;
        --btn-2: #bcffdb;
        --btn-3: #8dffcd;
        --btn-4: #68d89b;
        --up: darkgreen;
        --down: orangered;
    }
}

@font-face {
    /* https://github.com/githubnext/monaspace/blob/v1.000/fonts/webfonts/MonaspaceArgonVarVF%5Bwght%2Cwdth%2Cslnt%5D.woff2 */
    font-family: "Monaspace Argon";
    src:
        local("Monaspace Argon Regular"),
        url("/static/monaspace-argon.woff2") format("woff2");
}

*:focus {
    outline: none;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    cursor: pointer;
    text-align: center;
    color: var(--text);
    text-shadow: 0 .2px .5px var(--text-shadow);
    user-select: none;
}

body,
input { font-family: "Monaspace Argon" }
