@import url("base.css");

div {
    flex: 1;
    align-content: center;
    overflow-y: scroll;
    font-size: 3em;
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}
div > span {
    display: block;
    font-size: .4em;
    color: var(--sub-text);
}
div.error,
div.error::after { color: var(--error) }

[tooltip]::after {
    content: attr(data-tooltip);
    padding: 8px 16px;
    font-size: .25em;
    display: block;
    margin-top: .2em;
    color: var(--sub-text);
    text-shadow: 0 .2px .5px var(--text-shadow);
}

#blocks-generated { background-color: var(--btn-3) }
#block-height { background-color: var(--btn-2) }
#slashes { background-color: var(--btn-1) }
#rewards,
#history { background-color: var(--btn-4) }

#history {
    display: flex;
    flex-flow: column;
    font-size: 1.2em;
    align-content: center;
}
#history p {
    margin: 0;
    padding: .3em;
}
#history span { font-size: 1.2em }

#history .down span { color: var(--down) }
#history .up span { color: var(--up) }
#history .empty span,
#history .convert span,
#history .stake span,
#history .unstake span,
#history .transfer span { color: var(--sub-text) }

#history .convert span::before { content: "🛡️ " }
#history .go-down span::before { content: "📉 " }
#history .go-up span::before { content: "📈 " }
#history .go-nowhere span::before { content: "🔜 " }
#history .stake span::before { content: "📈 " }
#history .unstake span::before { content: "📈 " }
#history .withdraw span::before { content: "💰 " }
#history .transfer.down span::before { content: "📤 " }
#history .transfer.up span::before { content: "📥 " }

#refresh-time-bar {
    height: 2px;
    width: 100%;
    position: absolute;
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
    transform-origin: left right center;
    background: linear-gradient(to bottom, #64b5f6, #1565c0);
}
@keyframes roundtime {
    to {
        transform: scaleX(0);
    }
}

@media (min-width: 500px) {
    div {
        font-size: 4.5em;
        width: 50%;
    }
    #history { font-size: 1.5em }
    #history span { font-size: 1.5em }

    #block-height,
    #slashes,
    #blocks-generated,
    #rewards { flex: 1 33% }
    #history { flex: 1 66% }
}

@media (max-width: 499px) {
    #history { flex: 0 10% }
}
