@import url("base.css");

div {
    flex: 1;
    align-content: center;
    overflow-y: scroll;
    font-size: 3em;
    box-shadow:
        0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075),
        0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075),
        0 16px 16px hsl(0deg 0% 0% / 0.075);
}
div > span {
    display: block;
    font-size: .4em;
    color: var(--sub-text);
}
div.error,
div.error::after { color: var(--error) }

[tooltip]::after {
    content: attr(data-tooltip);
    padding: 8px 16px;
    font-size: .25em;
    display: block;
    margin-top: .2em;
    color: var(--sub-text);
    text-shadow: 0 .2px .5px var(--text-shadow);
}

#blocks-generated { background-color: var(--btn-3) }
#block-height { background-color: var(--btn-2) }
#slashes { background-color: var(--btn-1) }
#rewards,
#history { background-color: var(--btn-4) }

#history {
    display: flex;
    flex-flow: column;
    font-size: 1.2em;
    align-content: center;
}
#history p {
    margin: 0;
    padding: .3em;
}
#history span { font-size: 1.2em }
#history .go-down span { color: var(--down) }
#history .go-down span::before,
#history .unstake span::before { content: "📉 " }
#history .go-up span { color: var(--up) }
#history .go-up span::before,
#history .stake span::before { content: "📈 " }
#history .go-nowhere span { color: var(--sub-text) }
#history .go-nowhere span::before { content: "🔜 " }
#history .withdraw span::before { content: "💰 " }

#countdown {
    float: right;
    top: -2em;
    right: .6em;
    text-shadow: 0 .2px .5px var(--text-shadow);
    opacity: .8;
}

@keyframes progress {
    100% {
        stroke-dashoffset: 1256.12939453125;
    }
}

@media (min-width: 500px) {
    div {
        font-size: 4.5em;
        width: 50%;
    }
    #history { font-size: 1.5em }
    #history span { font-size: 1.5em }

    #block-height,
    #slashes,
    #blocks-generated { flex: 1 33% }
    #rewards { flex: 1 33% }
    #history { flex: 1 66% }

    #countdown {
        top: -2em;
        right: .6em;
    }
}

@media (max-width: 499px) {
    #rewards { order: 1 }
    #history {
        order: 2;
        flex: 0 10%;
    }
    #blocks-generated { order: 3 }
    #block-height { order: 4 }
    #slashes { order: 5 }

    #countdown {
        top: -1em;
        right: .6em;
    }
}
