<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/static/favicon.svg">
    <link rel="stylesheet" href="/static/style.css"/>
    <link rel="stylesheet" href="/static/{{ css }}"/>
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <title>Dusk Node Monitoring</title>
</head>
<body>
    {%- if data.current_block < (data.last_block - 1) %}
    <div id="block-height" tooltip data-tooltip="Latest: {{ data.last_block | format_int }}" class="error">{{ data.current_block | format_int }}<span>｢⚠️ current block｣</span></div>
    {%- else %}
    <div id="block-height">{{ data.current_block | format_int }}<span>｢current block｣</span></div>
    {%- endif %} 
    {%- if data.slash_soft + data.slash_hard %}
    <div id="slashes" tooltip data-tooltip="Soft: {{ data.slash_soft }} | Hard: {{ data.slash_hard }}" class="error">{{ data.slash_soft + data.slash_hard }}<span>｢⚠️ slashes｣</span></div>
    {%- else %}
    <div id="slashes">{{ data.slash_soft + data.slash_hard }}<span>｢slashes｣</span></div>
    {%- endif %} 
    <div id="blocks-generated" tooltip data-tooltip="Latest: {{ data.blocks | max | format_int }}">{{ data.blocks | length | format_int }}<span>｢blocks generated｣</span></div>
    <div id="rewards" tooltip data-tooltip="Current: {{ data.rewards | format_int }} | Total: {{ estimated_rewards | format_int }}">{{ data.rewards | format_float }}<span>｢rewards｣</span></div>
    <!-- First version: 2025-01-06 -->
    <!-- Source: https://github.com/BoboTiG/dusk-monitor -->
    <!-- Dusk wallet for tips: VKZpBrNtEeTobMgYkkdcGiZn8fK2Ve2yez429yRXrH4nUUDTuvr7Tv74xFA2DKNVegtF6jaom2uacZMm8Z2Lg2J -->
</body>
</html>
