{% extends "base.html" %}

{% block page %}dashboard{% endblock %}
{% block body %}
    <div id="rewards" tooltip data-tooltip="Current: {{ (data.rewards / 10**9) | format_int }}">
        <span id="countdown" data-duration="300" data-transition="linear" data-color="yellow" data-size="24"></span>
        {{ (total_rewards / 10**9)| format_float }}<span>｢rewards｣</span>
    </div>
    <div id="history">
        {%- for when, what, css_cls, action in history %}
        <p class="{{ css_cls }}">{{ when | to_hour }} <span title="{{ action }}">{{ what | pad(longest) }}</span></p>
        {%- endfor %}
    </div>
    <div id="blocks-generated" tooltip data-tooltip="Latest: {{ data.blocks | max | format_int }}">{{ data.blocks | length | format_int }}<span>｢blocks generated｣</span></div>
    {%- if data.current_block < (data.last_block - 1) %}
    <div id="block-height" tooltip data-tooltip="Latest: {{ data.last_block | format_int }}" class="error">{{ data.current_block | format_int }}<span>｢⚠️ current block｣</span></div>
    {%- else %}
    <div id="block-height">{{ data.current_block | format_int }}<span>｢current block｣</span></div>
    {%- endif %} 
    {%- if data.slash_soft + data.slash_hard %}
    <div id="slashes" tooltip data-tooltip="Soft: {{ data.slash_soft }} | Hard: {{ data.slash_hard }}" class="error">{{ data.slash_soft + data.slash_hard }}<span>｢{{ "🚨" if data.slash_hard else "⚠️" }} slashes｣</span></div>
    {%- else %}
    <div id="slashes">{{ data.slash_soft + data.slash_hard }}<span>｢slashes｣</span></div>
    {%- endif %}
    <script src="/static/script.js"></script>
    <script>
        // Reload the page every 5 minutes
        setTimeout(function () { location.reload() }, 60 * 5 * 1000);
    </script>
    <!-- Served in {{ served_time | format_float }} seconds -->
{% endblock %}
