{% extends "base.html" %}

{% set page = "rewards" %}
{% block body %}
    <canvas id="chart"></canvas>
    <!-- Served in {{ served_time | format_float }} seconds -->
    <script src="/static/js/chart.js"></script>
    <script src="/static/js/chartjs-plugin-annotation.js"></script>
    <script>
        const data = [
            {%- for date, amount in data %}
            { date: '{{ date }}', amount: {{ amount }} },
            {%- endfor %}
        ];

        const average = {
            type: 'line',
            borderWidth: 0.5,
            borderDash: [5, 5],
            borderDashOffset: 0,
            scaleID: 'y',
            label: {
                display: true,
                content: 'Average: {{ average | format_float }}',
                position: 'start',
            },
            value: {{ average }},
        };

        const annotations = {
            average,
        }

        const config = {
            type: 'line',
            data: {
                labels: data.map(row => row.date),
                datasets: [
                    {
                        label: 'Rewards by {{ interval }}',
                        data: data.map(row => row.amount),
                    }
                ]
            },
            options: {
                borderWidth: 1,
                fill: true,
                interaction: {
                    intersect: false,
                    mode: 'nearest',
                },
                pointHoverBackgroundColor: 'orange',
                tension: 0.1,
                scales: {
                    y: {
                        stacked: true
                    }
                },
                plugins: {
                    annotation: {
                        annotations: annotations
                    }
                }
            }
        };

        window.onload = () => {
            new Chart(document.getElementById('chart'), config);
        };
    </script>
{% endblock %}
