{% extends "base.html" %}

{% set page = "setup" %}
{% block body %}
    <form method="POST" action="/setup" onsubmit="return onSubmitCallback();">
        <h2>📢 Mandatory</h2>

        <label for="data_dir">📁 Data Folder</label>
        <input type="text" readonly size="69" value="{{ constants.DATA_DIR }}" />

        <label for="provisioner">🔑 Provisioner Public Key</label>
        <input
            name="provisioner"
            id="provisioner"
            type="text"
            minlength="{{ constants.PROVISIONER_KEY_LENGTH }}"
            maxlength="{{ constants.PROVISIONER_KEY_LENGTH }}"
            size="69"
            spellcheck="false"
            value="{{ config.PROVISIONER }}"
            required
        />

        <hr/>

        <h2>⚙️ Options</h2>

        <label for="host">🌐 Local Web Server Host & Port</label>
        <input type="text" id="host" name="host" size="10" value="{{ config.HOST }}" required />
        <input type="number" id="port" name="port" min="80" max="65536" value="{{ config.PORT }}" required />

        <label for="play-sound">🔔 Play a Sound on New Block Generated</label>
        <div id="checkbox">
            <input type="checkbox" id="play-sound" name="play-sound"{% if config.PLAY_SOUND %} checked{% endif %} />
            <div class="knobs"></div>
            <div class="layer"></div>
        </div>

        <br/>
        <label for="rewards-history-hours">🕰️ History Data to Display</label>
        <input type="range" id="rewards-history-hours" name="rewards-history-hours" min="0" max="24" step="1" list="values" value="{{ config.REWARDS_HISTORY_HOURS }}" required oninput="this.nextElementSibling.value = this.value > 0 ? `${this.value}h` : 'Disabled'" />
        <output>{{ "{}h".format(config.REWARDS_HISTORY_HOURS) if config.REWARDS_HISTORY_HOURS else 'Disabled' }}</output>
        <datalist id="values">
            {%- for hours in range(24 + 1) -%}
            {%- if hours == config.REWARDS_HISTORY_HOURS %}
            <option value="{{ hours }}" label="{{ hours }}" selected></option>
            {%- else %}
            <option value="{{ hours }}" label="{{ hours }}"></option>
            {%- endif -%}
            {%- endfor %}
        </datalist>

        <div class="buttons">
            <a class="button cancel" href="/">Cancel</a>
            <input class="button" type="submit" value="Save"/>
        </div>
    </form>
    <script>
        function onSubmitCallback() {
            if (document.getElementById('provisioner').value != '{{ config.PROVISIONER }}') {
                return confirm('Are you sure the provisioner key is correct? A full blockchain scan at the next update will be triggered.');
            }
            return true;
        }
    </script>
{% endblock %}
